.exception_file { font-size: 0.9em; color: black; }

.exception_title {margin: 1em 0.5em 0.5em 0.5em; font-weight: bold; text-align: left; font-size: 0.8em;}

.exception_trace { 
	border-collapse: collapse; 
	background-color: white; 
	border: solid gray 1px;
	font-size: 1em;
}

.exception_trace_number, .exception_highlight { font-weight: bold;}

.exception_trace_number { background-color: #C0C0C0; }

.exception_line { padding-left: 1em; }

.exception_highlight { background-color: #ffdddd; width: 100%; }



.exception{
padding:1em;
}
.round{
border-radius: 5px;
}
.exception h1 {
text-shadow:1px 1px 1px rgba(0, 0, 0, 0.4);
}
.exception h2 {
background-color: #D1C2A3;
padding:.2em;
margin: 1em 0 .3em;
color:rgb(138, 111, 92);
border-radius: 5px;
text-shadow:1px 1px 1px rgba(255, 255, 255, 0.8);
}
.exception em {
color: black;
}
.solution {
background-color: lime;
}
pre {
background-color: #eee;
padding: 1em;
border:1px solid #ccc;
color: #000;
margin: 1em 0;

}
.exception table {
width: 100%;
//border-collapse: collapse;
border-spacing: 2px 2px;
color: rgb(138, 111, 92);
}
.exception thead {
background-color: #D1C2A3;
}
.exception tr {
border-bottom:1px solid #D1C2A3;
}
.exception td{
padding: .2em .2em;
}


/* Formatea los mensajes Flash::xxx() de KumbiaPHP */
.flash {
	border: 1px solid;
	margin: 1px 0;
	min-height: 32px;
	padding:3px 10px 3px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	line-height: 32px;
}

.error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('../img/default/error.png');
}

.info {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('../img/default/info.png');
}

.valid {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url('../img/default/valid.png');
}
.warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('../img/default/warning.png');
}

.highlight {
	background: #FFFFDF;
}

div.autocomplete {
	position: relative;
	background-color: white;
	border: 1px solid #888;
	margin: 0;
	padding: 0;
}
div.autocomplete ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
div.autocomplete ul li.selected {
	background-color: #ffb;
}
div.autocomplete ul li {
      list-style-type: none;
      display: block;
	  margin: 1px 0;
      padding: 1px;
      cursor: pointer;
      font-size: 10px;
}
